Options +FollowSymLinks -Indexes
RewriteEngine On
 
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<If "req('Host') = 'https://tabor.fokolare.hu/'">
    AuthType Basic
    AuthName "Protected Site"
    AuthUserFile /home/fokolare/tabor.fokolare.hu/.htpasswd
    require valid-user
</If>


